<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    scope  singleton 单例的
           prototype 多例的  (原型)
           request   请求域 该对象在一个请求域内是单例的
           session   会话域 该对象在一个会话域内是单例的
    -->
    <bean id="dog" class="com.atshijie.component8.Dog" scope="singleton"></bean>

</beans>