<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- <bean id="mouse1" class="com.atshijie.component45.Mouse">
        <property name="name" value="jerry"></property>
        <property name="age" value="5"></property>
    </bean>-->

    <!--<bean id="cat" class="com.atshijie.component45.Cat ">
        <property name="name" value="tom"></property>
        <property name="age" value="5"></property>
&lt;!&ndash;        <property name="mouse" ref="mouse1"></property>&ndash;&gt;

        <property name="mouse">
            <bean class="com.atshijie.component45.Mouse">
                <property name="name" value="jerry"></property>
                <property name="age" value="5"></property>
            </bean>
        </property>
    </bean>-->



</beans>